@font-face {
 font-family: "Raleway";
 src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
 font-family: "RalewayMedium";
 src: url("../fonts/Raleway-Medium.ttf");
}

@font-face {
 font-family: "RalewaySemiBold";
 src: url("../fonts/Raleway-SemiBold.ttf");
}

@font-face {
 font-family: "Lato";
 src: url("../fonts/Lato-Regular.ttf");
}


html, body{
  margin:0;
  padding:0;
 
}


.top-page{
  background-color:#008E8E; 
  border-radius: 0px 0px 50px 50px;  
  padding:1% 0 3% 0; 
  height: 100%;

}

.logo {
  margin-top:5%;
  height: 90%;
  width: 50%;
}

.handle{
  height: 40%;
  padding:2%;
  margin-left: 6%;
  --animate-duration:2s;
}

.antibio{
  height: 30%;
  padding:2%;
  margin-left: 6%;
  --animate-duration:2s;
 }
 .care{
  height: 30%;
  padding:2%;
  margin-left: 6%;
  
  --animate-duration:2s;
 }



.navbar {
  background-color:#008E8E;
  display: inline-flex;
  font-family: RalewayMedium;
  margin:0% 2% 0% 2%;
}

.navbar-brand img {
  width: 30%;
  height: 10%;
}

.navbar .collapse .navbar-nav .nav-item .dropdown-menu>a:hover{
  color: #F44336;
  background-color: transparent;
  
}
.navbar .collapse .navbar-nav .nav-item .dropdown-menu{
  background-color:#292927;
  margin-top: 0;
  border-radius: 20px;
}

.navbar .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item{
  font-size: 1.5em;
  color: white;

}

 .navbar .collapse .navbar-nav .nav-item .nav-link{
  font-size: 1.6em;
  margin:10px;

}

.dropdown:hover .dropdown-menu{
  display:block;
}

nav .dropdown-toggle::after {
  
}




.link{
  text-decoration: none;
  color: white;
}
.link:hover{
  opacity: 0.5;
  text-decoration: none;
  color: white;
}





.end-page {
  display: flex;
  font-family: Lato;
  justify-content: space-around;
  color: transparent;
  background-image: url("BG-TITRE.jpg");
  background-size: 50% auto;
  background-repeat: repeat;
  border-radius: 50px 50px 0px 0px; 
  border: 1px solid transparent;

}

.end-page div {
  padding : 2% 5%;
}

.end-page h3 {
  text-align: center;
  font-family: RalewayMedium;
  margin-bottom: 50px;
}

.sponsors-block {
  display: flex;
  justify-content: space-between;
}

.sponsors-height img{
  height: 100px;
}

.sponsors-width img{
  height: 50px;
}






  #buttonBac{
    text-decoration:none;  
    font-size:1.5em; 
    text-align: center; 
    font-family: 'RalewaySemiBold',sans-serif; 
    color:#F2E7DC;
  }

  #buttonHuman {
    text-decoration:none; 
    text-align: center; 
    font-size:1.5em; 
    font-family: 'RalewaySemiBold',sans-serif; 
    color:#F2E7DC;
  }

  #buttonTeam {
    text-decoration:none; 
    text-align: center; 
    font-size:7em; 
    font-family: 'RalewaySemiBold',sans-serif; 
    color:#02C39A;
  }

  .containerGG:hover{
    
    background-color: #F2E7DC ;
    
  }
  .containerGG:hover #buttonHuman{
    color :#292927;
  
  }

  .YY:hover{
    background-color:#F2E7DC;
  }

  .YY:hover #buttonBac{
    color :#F44336;
  
  }

 .card .img1{
  display: none;
 }

 .card:hover .img1 {
  display: inline;
  object-position: center;
}
 .card:hover .img{
  display: none;
 }

 .handle:hover{
  animation: bounce;
  animation-duration: 1s;
 }
 .care:hover{
  animation: bounce;
  animation-duration: 1s;
 }
 .antibio:hover{
  animation: bounce;
  animation-duration: 1s;
 }
